In [ ]:
# Carguemos modulos 

import os 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Veamos el modulo numpy 
help(np)

In [ ]:
# Documentacion del submodulo linalg
help(np.linalg)

In [ ]:
# Funciones / datos que componen a un submodulo : la funcion dir 
dir(np.linalg)

In [ ]:
# Leer la documentacion de cada funcion que pertenece a un 
# modulo o submodulo 
help(np.linalg.svd)

In [ ]:
# Primeros pasos con pandas 
# Dos tipos de objetos : Unidimensionales (pd.Series) y bidimensionales (pd.DataFrames)

# Definicion de datos de tipo Series 
s1 = pd.Series( data = [12,14,19,20,0,1,2])
s1

0    12
1    14
2    19
3    20
4     0
5     1
6     2
dtype: int64

In [10]:
# Personalizar el conjunto de indices de un data de tipo Series
s2 = pd.Series(data = np.random.randint(0, 21, 6 ),
               index = ["a", "b", "c", "d","e", "f"])
s2

a     3
b    12
c    16
d    19
e     8
f    14
dtype: int64

In [17]:
# Otra forma de personalizar el conjunto de indices : Usando un diccionario
s3 = pd.Series(data = {"a1":12, "a2": 14, "a3":5, "a4":4})
s3

a1    12
a2    14
a3     5
a4     4
dtype: int64

In [19]:
# Asignemos un nombre al objeto de tipo Series
s4 = pd.Series(data = np.random.rand(12), name = "Volatilidad")
s4

0     0.875918
1     0.928266
2     0.837717
3     0.733780
4     0.750933
5     0.868028
6     0.500025
7     0.900052
8     0.514587
9     0.922831
10    0.953144
11    0.965312
Name: Volatilidad, dtype: float64

In [13]:
# Lista de metodos que se pueden aplicar a un objeto de python (en particular a un 
# Series de pandas) : funcion dir 
dir(s1)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [ ]:
# Documentacion de cualquier metodo , por ejemplo to_latex
help(s1.to_latex)

In [15]:
# Deseo consultar el nombre de la variable en el objeto Series s4
s4.name

'Volatilidad'

In [22]:
# Deseo renombrar el nombre de  esa variable
s4.rename("Volatility")

0     0.875918
1     0.928266
2     0.837717
3     0.733780
4     0.750933
5     0.868028
6     0.500025
7     0.900052
8     0.514587
9     0.922831
10    0.953144
11    0.965312
Name: Volatility, dtype: float64

In [23]:
# Conjunto de indices de un Series
s3.index

Index(['a1', 'a2', 'a3', 'a4'], dtype='object')

In [24]:
# que tipo de objeto devuelve el metodo index
type(s3.index)

pandas.core.indexes.base.Index

In [26]:
# Listemos los metodos de objeto de tipo pandas.core.indexes.base.Index
dir(pd.core.indexes.base.Index)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__inv__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_arith_method',
 '_assert_can_do_setop',
 '_attributes',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_hold_strings',
 '_check_indexing_error',
 '_check_indexing_method',
 '_cleanup',
 '_cmp_method',
 '_comparables',
 '_concat',
 '_constructor',
 '_convert_can_do_setop',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_deprecated_arg',
 '_difference',
 '_dir_additions',
 '_dir_additions_for_owner',
 '_dir_deletions',
 '_drop_level_numbers',
 '_dtype_to_subclass',
 '_duplicated',
 '_engine',
 '_engine_type',
 '_ensure_array',
 '_filter_indexer_tolerance',
 '_find_common_type_compat',
 '_format_attrs',
 '_format_data',
 '_format_duplicate_message',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_from_join_target',
 '_get_attributes_dict',
 '_get_engine_target',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_grouper_for_level',
 '_get_indexer',
 '_get_indexer_non_comparable',
 '_get_join_target',
 '_get_level_number',
 '_get_level_values',
 '_get_names',
 '_get_nearest_indexer',
 '_get_partial_string_timestamp_match_key',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_get_unique_index',
 '_get_values_for_loc',
 '_getitem_slice',
 '_has_complex_internals',
 '_hidden_attrs',
 '_id',
 '_index_as_unique',
 '_inner_indexer',
 '_intersection',
 '_intersection_via_get_indexer',
 '_invalid_indexer',
 '_is_all_dates',
 '_is_comparable_dtype',
 '_is_memory_usage_qualified',
 '_is_multi',
 '_is_numeric_dtype',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_isnan',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_left_indexer',
 '_left_indexer_unique',
 '_logical_method',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_listlike_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_check_unique',
 '_maybe_disable_logical_methods',
 '_maybe_disallow_fill',
 '_maybe_promote',
 '_memory_usage',
 '_mpl_repr',
 '_na_value',
 '_name',
 '_no_setting_name',
 '_outer_indexer',
 '_reduce',
 '_reindex_non_unique',
 '_rename',
 '_require_scalar',
 '_requires_unique_msg',
 '_reset_cache',
 '_reset_identity',
 '_scalar_data_error',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_should_compare',
 '_should_fallback_to_positional',
 '_simple_new',
 '_sort_levels_monotonic',
 '_string_data_error',
 '_summary',
 '_supports_partial_string_indexing',
 '_transform_index',
 '_typ',
 '_unary_method',
 '_union',
 '_validate_can_reindex',
 '_validate_fill_value',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_positional_slice',
 '_validate_sort_keyword',
 '_values',
 '_view',
 '_wrap_intersection_result',
 '_wrap_joined_index',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asi8',
 'asof',
 'asof_locs',
 'astype',
 'copy',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'format',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'get_value',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'identical',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_all_dates',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_mixed',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_numeric',
 'is_object',
 'is_type_compatible',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'join',
 'map',
 'max',
 'memory_usage',
 'min',
 'name',
 'names',
 'nbytes',
 'ndim',
 'nlevels',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'searchsorted',
 'set_names',
 'set_value',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'sort',
 'sort_values',
 'sortlevel',
 'str',
 'symmetric_difference',
 'take',
 'to_flat_index',
 'to_frame',
 'to_list',
 'to_native_types',
 'to_numpy',
 'to_series',
 'tolist',
 'transpose',
 'union',
 'unique',
 'value_counts',
 'values',
 'view',
 'where']

In [29]:
# Deseo transformar mi dato de tipo Series a un ndarray 
s4.to_numpy()

array([0.87591841, 0.92826638, 0.83771656, 0.73378002, 0.7509328 ,
       0.86802787, 0.5000248 , 0.90005162, 0.51458687, 0.92283061,
       0.95314368, 0.96531173])

In [30]:
# Indesing y Slicing de datos de tipo Series 
s = pd.Series(data = range(10),
              index = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"])
s

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [31]:
s[0]

0

In [32]:
# Usamos slicing para seleccionar elementos no consecutivos
s[[1, 3,6]]

B    1
D    3
G    6
dtype: int64

In [33]:
# Podemos usar slicing para elementos consecutivos
s[0:3]

A    0
B    1
C    2
dtype: int64

In [34]:
# Para el indexado tambien se pueden usar los indices 
s[["A"]]

A    0
dtype: int64

In [36]:
# Slicing con los indices : no consecutivos
s[["B", "I", "D"]]

B    1
I    8
D    3
dtype: int64

In [38]:
# Slicing con los indices : Consecutivos
s["A":"F"]

A    0
B    1
C    2
D    3
E    4
F    5
dtype: int64

In [39]:
# Veamos si un indices en particular pertenece a s
"Z" in s

False

In [40]:
"B" in s

True

In [42]:
#  En los objetos unidimensionales de pandas (Series) es posible 
# la indexacion no unica 
x = pd.Series(data = np.random.rand(5),
              index = ["p1", "p2", "p1", "p1", "p3"])
x

p1    0.424487
p2    0.960797
p1    0.701114
p1    0.728447
p3    0.402306
dtype: float64

In [43]:
# Deseo las observaciones de indice p1 
x["p1"]

p1    0.424487
p1    0.701114
p1    0.728447
dtype: float64

In [44]:
# Es posible usar como indices una expresion condicional 
x[x >=0.65]

p2    0.960797
p1    0.701114
p1    0.728447
dtype: float64

In [45]:
x[x > x.mean()]

p2    0.960797
p1    0.701114
p1    0.728447
dtype: float64

In [47]:
# Operaciones con datos de tipo Series 
r1 = pd.Series(data = range(6),
               index = ["a","b", "c", "d", "e", "f"])
r2 = pd.Series(data =range(8,13),
               index = ["d", "e", "f", "g", "h"])

In [48]:
# Suma de r1 con r2
r1 + r2
# NaN : Not a number
# NA : Not available

a     NaN
b     NaN
c     NaN
d    11.0
e    13.0
f    15.0
g     NaN
h     NaN
dtype: float64

In [49]:
# Deseo elevar al cuadrado todos los elementos de r1:
r1**2

a     0
b     1
c     4
d     9
e    16
f    25
dtype: int64

In [50]:
# Calculo de la exponencial de todos los elementos de r2
np.exp(r2)

d      2980.957987
e      8103.083928
f     22026.465795
g     59874.141715
h    162754.791419
dtype: float64

In [51]:
# Listemos todos los metodos que se pueden aplicar a un objeto
# de tipo Series que no empiecen con guin bajo
print("""
Los metodos a estudiar son :
""")
[_ for _ in dir(pd.Series) if not _.startswith("_")]

Los metodos a estudiar son :

['T',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'cat',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dt',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'tolist',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [52]:
# Un pequeño detalle de los datos de tipo Series 
t = pd.Series(data = ["Clase2", 2023, ["02", "02"]])
t

0      Clase2
1        2023
2    [02, 02]
dtype: object

In [56]:
t.map(type)

0     <class 'str'>
1     <class 'int'>
2    <class 'list'>
dtype: object

In [57]:
# Los datos de tipo dataframe 
# Estos son datos bidimensionales
# 
# Definicion

pd.DataFrame([[2,4,6,8],
              [1,3,5,7],
              [6,6,6,np.nan]])

   0  1  2    3
0  2  4  6  8.0
1  1  3  5  7.0
2  6  6  6  NaN

In [58]:
# Etiquetemos las filas (index) y las columnas (columns)
pd.DataFrame([[2,4,6,8],
              [1,3,5,7],
              [6,6,6,np.nan]],
             index = ["f1", "f2", "f3"],
             columns = ["c1", "c2", "c3", "c4"])

    c1  c2  c3   c4
f1   2   4   6  8.0
f2   1   3   5  7.0
f3   6   6   6  NaN

In [59]:
# Podemos definir un dataframe a partir del etiquetado de cada columna 
pd.DataFrame({"Col1": [10,20,33],
              "Col2": ["Aprob", "Desap", "Aprob"]},
             index = ["Alumno1", "Alumno2", "Alumno3"])

         Col1   Col2
Alumno1    10  Aprob
Alumno2    20  Desap
Alumno3    33  Aprob

In [66]:
# Usemos list comprehensions de python para definir las etiquetas de 
# filas y columnas de algun dataframe 
n_Filas = 102400
n_Columnas = 2056
pd.DataFrame(np.random.randn(n_Filas,n_Columnas),
             index = [f"fila_{_}" for _ in range(1,n_Filas+1)],
             columns = [f"Col_{_}" for _ in range(1,n_Columnas +1)])

,Col_1,Col_2,Col_3,Col_4,Col_5,Col_6,Col_7,Col_8,Col_9,Col_10,...,Col_2047,Col_2048,Col_2049,Col_2050,Col_2051,Col_2052,Col_2053,Col_2054,Col_2055,Col_2056
fila_1,-0.057355,-0.094533,0.110781,-0.384838,-1.160599,1.705540,-0.293459,-1.869063,2.420972,1.479682,...,0.963852,-1.077908,-1.209443,-0.298194,0.283957,1.795461,-0.063366,-0.418175,-0.024161,-1.402578
fila_2,-1.034035,-0.140765,0.826036,-0.411603,-0.281372,-0.147973,-1.686786,-0.499040,1.173395,0.012896,...,-0.188185,-1.073687,0.640047,0.666781,-0.070651,-1.053747,0.940105,0.943944,-0.103559,1.835384
fila_3,0.480448,0.631137,1.020940,0.131197,-0.452797,0.141570,0.153972,1.915831,-0.270580,1.088656,...,-1.031698,1.988440,0.230156,-0.700040,0.101166,0.029552,1.075930,0.757242,-0.069495,-0.908014
fila_4,0.981444,0.193139,0.191497,0.136600,1.986070,0.123454,0.688013,1.231513,-0.763770,0.084238,...,-1.753201,-0.833825,-2.064259,0.179188,-0.168913,0.029359,-0.692543,-2.151209,1.723135,-0.809563
fila_5,-0.058863,-0.549806,0.209929,1.379610,-0.772481,1.200310,-1.721744,0.017127,-0.572102,0.011287,...,1.151695,-0.336756,0.113511,-0.137098,0.180392,0.125136,0.231899,-1.226181,-0.085971,1.304377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fila_102396,-1.241386,2.411895,0.947361,-3.363934,-0.587483,-0.544444,0.628485,-1.336163,0.456213,-1.012727,...,-0.090958,1.320636,-0.894038,1.286243,0.454154,-0.167235,-1.398797,1.098400,0.562416,-0.469348
fila_102397,-0.715196,-2.694124,-0.631130,-0.144187,0.978195,0.279952,-2.050798,1.165004,-0.381517,0.731591,...,0.982160,-0.138627,0.155996,-1.397357,-0.101597,2.134150,-0.182201,0.165964,-0.713110,-0.711856
fila_102398,0.144622,1.698612,-0.888334,-0.553375,-0.340458,-0.591144,-1.377181,-0.673725,0.666177,-1.721949,...,1.064095,-0.882814,0.316752,-1.672800,1.178952,-0.892986,0.177587,-1.932878,-0.610665,-0.454702
fila_102399,0.635143,0.231411,-0.437280,0.088687,-1.352557,-0.068299,0.518123,1.933352,1.827149,0.278621,...,0.376498,1.025336,1.945853,0.088964,1.648459,-0.552989,0.816704,0.521481,-0.616264,0.728946
fila_102400,-0.097409,0.219509,0.366747,-0.561948,-2.520023,0.853352,1.451953,0.623802,-0.005558,-0.233485,...,1.447293,-1.073634,1.148666,-2.246798,0.318020,1.498876,-1.019331,-0.584994,0.105338,0.361675

In [70]:
# Indexing y slicing para objetos bidimensionales de pandas (DataFrames)
# Tenemos 5 formas para realizar estos calculos 
# []
# .loc[]
# .iloc[]
# Indexado a partir de expresiones booleanas
# .query()

df = pd.DataFrame({
    "Nombre" : ["Luis", "Diego", "Madai", "Jorge"],
    "LP" : ["Python", "Julia", "C++", "R"],
    "Nota" : [12,14,16,19]
})

df.dtypes

Nombre    object
LP        object
Nota       int64
dtype: object

In [74]:
# Indexacion con []
df["Nombre"]
# Devuelve un dato de tipo series
print("El tipo de dato es : " , type(df["Nombre"]))

El tipo de dato es :  <class 'pandas.core.series.Series'>

In [73]:
# Construyamos un dataframe seleccionando una sola columna 
df[["Nombre"]]
print("El tipo de dato es : " , type(df[["Nombre"]]))

El tipo de dato es :  <class 'pandas.core.frame.DataFrame'>

In [75]:
# Seleccion de dos columns 
df[["Nombre", "LP"]]

  Nombre      LP
0   Luis  Python
1  Diego   Julia
2  Madai     C++
3  Jorge       R

In [76]:
# Error !!!
# Consideremos usar indices enteros
df[0]

KeyError: ignored

In [77]:
# Seleccionemos la primera fila
df[0:1]

  Nombre      LP  Nota
0   Luis  Python    12

In [79]:
# Deseo todas las filas desde la segunda en adelante
df[1:]

  Nombre     LP  Nota
1  Diego  Julia    14
2  Madai    C++    16
3  Jorge      R    19

In [81]:
# Usemos ahora los metodos .loc y .iloc
# Primera fila 
df.iloc[0]

Nombre      Luis
LP        Python
Nota          12
Name: 0, dtype: object

In [82]:
# Recuperemos las primeras dos filas 
df.iloc[0:2]

  Nombre      LP  Nota
0   Luis  Python    12
1  Diego   Julia    14

In [84]:
# deseo recuperar el elemento de la cuarta fila / segunda columna
df.iloc[3,1]

'R'

In [86]:
# Recuperemos la primera y tercera fila con la segunda y tercera columna
df.iloc[[0,2],[1,2]]

       LP  Nota
0  Python    12
2     C++    16

In [87]:
# El metodo loc sirve cuando puedo usar etiquetas 
# Columnas Nombre
df.loc[:, "Nombre"]

0     Luis
1    Diego
2    Madai
3    Jorge
Name: Nombre, dtype: object

In [89]:
# Deseo recuperar dos columnas 
df.loc[:, "LP":"Nota"]

       LP  Nota
0  Python    12
1   Julia    14
2     C++    16
3       R    19

In [92]:
# Deseo las dos primeras filas de la columna Nombre
df.loc[[0,1],["Nombre"]]

  Nombre
0   Luis
1  Diego

In [94]:
# Indexado a partir de expresiones booleanas 
df[df["Nota"] > 13]

  Nombre     LP  Nota
1  Diego  Julia    14
2  Madai    C++    16
3  Jorge      R    19

In [97]:
# Seleccionamos la informacion qu corresponde a jorge
df[df["Nombre"] == "Jorge"]

  Nombre LP  Nota
3  Jorge  R    19

In [101]:
#  Indexado usando el metodo query
df.query("Nota >=15 & LP == 'Python'")

Empty DataFrame
Columns: [Nombre, LP, Nota]
Index: []